<div class="col-lg-8">
  <h1 class="mt-4"><%= @article.title %></h1>

  <p class="lead">
    by
    <a href="#"><%= @article.author.email if @article.author.present? %></a>
  </p>

  <hr>

  <p>Posted on <%= @article.created_at %></p>

  <hr>

  <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

  <hr>

  <p class="lead"><%= @article.text %></p>
</div>
<div class="col-md-4">
  Stuff on the right
</div>
